.navbar-row {
    border: 1px solid #CED4DA;
    padding-left: 5%;
    padding-top: 1%;
    font-size: 25px;
}
.nav{
    background-color: transparent;
}
.searchbarcontroller{
    position: absolute;
    margin-top: 10px;
    margin-left:21.5vw ;
    padding-top: 75px;
    width:46%;
}
.searchbar{
    background-color:#EAEAE6;
}
.bag{
    text-align:right;
    flex: 1;
}
.bag:active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.dropbtn{
    margin-left: 20px;
    background-color: transparent;
    border: none;
    outline:none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    
}
.dropbtn:focus{
    border: none;
    outline: none;
}
.dropbtn :active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.dropdown{
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  object-fit: contain;
  object-fit: cover;
  line-height: 1.00;
  flex: 1;
}
.ordername{
    margin-left: 5px ;
    flex: 1;
    color: #4d4d4d;
}
.right-pos{
    text-align: right;
    display: flex;
    color: #4d4d4d;
}